<?xml version="1.0" encoding="UTF-8"?>
<!--
Oxygen WebHelp Plugin for DITA-OT 2.0 or newer.

Copyright (c) 1998-2018 Syncro Soft SRL, Romania.  All rights reserved.

-->
<!DOCTYPE plugin[
 <!ENTITY extensions SYSTEM 'plugin_extension_points.xml'>
 <!ENTITY transtype SYSTEM 'plugin_transtype.xml'>
 <!ENTITY features SYSTEM 'plugin_features.xml'>
 <!ENTITY templates SYSTEM 'plugin_templates.xml'>
]>
<plugin id="com.oxygenxml.webhelp.responsive">
  <require plugin="org.dita.html5"/>
  
  &features;
  &extensions;
  &transtype;
    
  &templates;
  <feature 
    extension="com.oxygenxml.responsive.internal.target.dependencies.html5.init" 
    value="html5.init, html5.image-metadata" type="text"/>
  
  <feature 
    extension="com.oxygenxml.responsive.internal.target.dependencies.topics.html" 
    value="dita.topics.html.common" 
    type="text"/>
  
  <feature 
    extension="com.oxygenxml.responsive.internal.target.dependencies.preprocess" 
    value="preprocess" 
    type="text"/>
  
  <feature 
    extension="com.oxygenxml.responsive.internal.target.dependencies.preprocess2" 
    value="preprocess" 
    type="text"/>
</plugin>
